.outerContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.containerMain{
    flex:1;
}

.container{
    margin: 10px 10px 0px 0px;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}
.colorHeading{
    margin:0;
}

.highlight{
width:25px;
 height:25px;

 position: absolute;
 border-radius: 100%;
 cursor: pointer;
 border: 2px solid #000; 
}

.colorContainer{
 width:20px;
 position: absolute;



 height:20px;
 border-radius: 100%;
 cursor: pointer;
 border: 1px solid #000;
}
